*{
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

.sticky {
    position: sticky;
    display: block;
    top: 0px;
}

#top-nav {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: white;
    border-bottom: solid 1px white;
}

.logo {
    display: grid;
    place-content: center;
    background-color: rgb(67, 80, 138);
    color: white;
    text-decoration: none;
    height: 4rem;
    width: 6rem;
}

#top-nav ul {
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.nav-menu {
    list-style: none;
    display: flex;
}

header {
    height: 500px;
    background: radial-gradient(circle at 100%, rgb(98, 129, 185), rgb(57, 78, 170) 90%);
    place-content: center;
    padding-left: 10%;
    color: white;
    font-size: 1.5rem;
}

#cta {
    margin: 2rem 0;
    background-color: white;
    border: none;
    border-radius: 0.2rem;
    padding: 1rem 2rem;
    font-weight: bold;
}

section {
    margin: 4rem 10%;
}

#projects-container {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    margin: 2rem;
}

.project {
    border: solid 1px;
    padding: 2rem 3rem;
}

#about-content {
    display: flex;
    justify-content: space-between;
}

#about-content p {
    width: 66%;
    margin: 2rem 0;
}

.skills-icons {
    display: flex;
    margin: 2rem 0;
    gap: 1rem;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(57, 78, 170);
    color: white;
    padding: 2rem 10%;
    gap: 2rem;
}

footer .logo {
    color: rgb(67, 80, 138);
    background-color: white;
}

#bottom-nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#bottom-nav ul {
    width: 25%;
    justify-content: space-evenly;
}